<div class="flex flex-col">
  <h1>Properties</h1>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" />
  </div>
  <div>
    <label for="type">States</label>
    <select [(ngModel)]="selectedState" (ngModelChange)="onStateChange()">
      <option *ngFor="let item of states" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>
  @for (property of properties; track $index) {
    <div class="flex p-2">
      <gl-property-editor
        [name]="property.editorId"
        [context]="property"
      ></gl-property-editor>
    </div>
  }
</div>
