<div class="flex flex-col">
  <h1>Properties</h1>
  <div>
    <p>Name</p>
    <input type="text" id="name" />
  </div>
  <div>
    <p>States</p>
    <select (change)="onStateChange($event)">
      <option *ngFor="let item of states" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>
  @for (property of properties; track $index) {
    <div class="flex p-2">
      <gl-property-editor
        [name]="property.editorId"
        [context]="property"
        [state]="selectedState"
      ></gl-property-editor>
    </div>
  }
</div>
