.gl-grid {
  display: grid;
  grid-gap: 10px;
  .gl-grid-cell {
    padding: 20px;
    height: 30px;
    width: 1fr;
    border: 1px dashed #ccc;
    background-color: #f3eeee;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover .cell-content {
      display: block;
    }
  }

  .cell-content {
    display: none;
    cursor: pointer;
  }
}
