<div>
  <div class="text-center">CONTROLS</div>
  <div class="flex flex-col gap-5">
    @for (item of controls; track $index) {
      <div
        class="ring-1 ring:border-gray-500 text-center p-1 rounded-md bg-gray-200 cursor-pointer text-blue-800"
        glDrag
        [data]="item"
      >
        {{ item }}
      </div>
    }
  </div>
</div>
<button (click)="onSave()" class="bg-emerald-500 rounded-md">Save</button>
<button (click)="onClearSavedData()" class="bg-gray-500 rounded-md">Clear</button>
